<div>
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLinkActive="active" [routerLink]="['/dashboard']">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Ravicla<sup>s</sup></div>
    </a>
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
      Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed"[routerLink]="['/dashboard']" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Users</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Users:</h6>
          <a class="collapse-item" routerLinkActive="active" [routerLink]="['/users']">List Users</a>
          <a class="collapse-item" routerLinkActive="active" [routerLink]="['/newUser']">Create User</a>
        </div>
      </div>
    </li>
    <hr class="sidebar-divider">
    
    <!-- Heading -->
    <div class="sidebar-heading">
      Finance
    </div>
    
    <!-- Nav Item - Pages Collapse Menu --> 
    
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="['/']" data-toggle="collapse" data-target="#collapseCredit" aria-expanded="true"
        aria-controls="collapseCredit">
        <i class="fas fa-fw fa-folder"></i>
        <span>Credit</span>
      </a>
      <div id="collapseCredit" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Credit:</h6>
          <a class="collapse-item" routerLinkActive="active" [routerLink]="['/newCredit']">Simular prestamo</a>
          <a class="collapse-item" routerLinkActive="active" [routerLink]="['']">Lista de prestamos</a>
         
        </div>
      </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="['/']" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
        aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Activity</span>
      </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Activity:</h6>
          <a class="collapse-item" routerLinkActive="active" [routerLink]="['/newActivity']">Añadir una actividad</a>
          <a class="collapse-item" routerLinkActive="active" [routerLink]="['/activityList']">Lista de actividades</a>
          <a class="collapse-item" routerLinkActive="active" [routerLink]="['']">Deudas actividad</a>  
        </div>
      </div>
    </li>


    

   <!-- Nav Item - Utilities Collapse Menu -->
   <li class="nav-item">
    <a class="nav-link collapsed" [routerLink]="['/']" data-toggle="collapse" data-target="#collapseUtilities"
      aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Utilities</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Type Activity Setting:</h6>        
        <a class="collapse-item" routerLinkActive="active" [routerLink]="['/typeActivities']">Type Activities List</a>
        <a class="collapse-item" routerLinkActive="active" [routerLink]="['/typeActivityForm']">Create Type Activity</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Role Setting:</h6>
        <a class="collapse-item" routerLinkActive="active" [routerLink]="['/roles']">Roles List</a>
        <a class="collapse-item" routerLinkActive="active" [routerLink]="['/rolForm']">Create Rol</a>
      </div>
    </div>
  </li>
    

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <!-- este es el boton redonde que no hace caso -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
      <img class="sidebar-card-illustration mb-2" src="../../../../assets/img/undraw_rocket.svg" alt="...">
      <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!
      </p>
      <a class="btn btn-success btn-sm" [routerLink]="['/']">Upgrade to Pro!</a>
    </div>

  </ul>
</div>