<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">lista de creditos</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
  </div>

  <p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table below.
  </p>



  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables ExamFDFFfgggggggggggDple</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Activity</th>
              <th>Cost</th>
              <th>descripcion</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <p class="fw-bold mb-1">John Doe</p>
                <p class="text-muted mb-0">john.doe@gmail.com</p>
              </td>
              <td class="align-middle">comida</td>
              <td class="align-middle">2</td>
              <td class="align-middle">pie de limon</td>
              <td class="align-middle">2011/04/25</td>     
              <td class="align-middle">boton</td>             
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>