<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">

        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../../../assets/img/form.png" class="img-fluid" alt="Sample image">
        </div>

        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>

            <form [formGroup]="userForm" (ngSubmit)="getDataForm()" class="user">

              <div class="form-group">
                <input type="text" class="form-control" id="identificationNumber" formControlName="identificationNumber"
                  placeholder="Identification Number">
              </div>

              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control" id="firstName" formControlName="firstName"
                    placeholder="First Name">
                  <p class="error" *ngIf="checkControl('firstName', 'required')">Campo requerido</p>
                  <p class="error" *ngIf="checkControl('firstName', 'minlength')">Longitud minina de 3 carcaters</p>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="lastName" formControlName="lastName"
                    placeholder="Last Name">
                </div>           
              </div>

              <div class="form-group">
                <input type="date" class="form-control" id="birthdate" formControlName="birthdate"
                  placeholder="Birthdate">
              </div>

              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="email" class="form-control" id="emailAddress" formControlName="emailAddress"
                    placeholder="Email Address">
                  <p class="error" *ngIf="checkControl('email', 'required')">Campo requerido</p>
                  <p class="error" *ngIf="checkControl('email', 'pattern')">El email tiene que ser valido</p>
                </div>

                <div class="col-sm-6">
                  <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"
                    placeholder="Phone Number">
                  <p class="error" *ngIf="checkControl('phoneNumber', 'phoneNumbervalidator')">{{
                    userForm.get('phoneNumber')?.errors?.['phoneNumbervalidator'] }}
                  </p>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <select id="rol" class="form-select form-control " formControlName="rol">
                    <option value="" >Select Rol</option>
                    <option *ngFor="let rol of roles | async" [value]="rol.rolId">{{ rol.description }}</option>
                    <p class="error" *ngIf="checkControl('rol', 'required')">Selecciona un rol</p>

                  </select>
                </div>

                <!--
                <div class="col-sm-6">
                  <select id="roladd" class="form-select form-control " formControlName="roladd">
                    <option value="" >Add new Rol</option>
                    <option *ngFor="let rol of roles | async" [value]="rol.id">{{ rol.description }}</option>
                  </select>
                </div>
                -->

              </div>

              <input type="submit" value="Register Account" class="btn btn-primary btn-user btn-block"
                [disabled]="!userForm.valid">
              {{userForm.valid}}
              
            </form>
            <hr>            
            <div class="text-center">
              <a class="small" href="login.html">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>