<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Cedula</th>
      <th>Nombre y apellido</th>
      <th>correo y numero</th>
      <th>Rol</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p class="fw-bold mb-1">123455677</p>
      </td>
      <td>
        <p class="text-muted mb-0">John lo que sea</p>
        <p class="text-muted mb-0">doe</p>
      </td>
      <td>
        <p class="text-muted mb-0">john.doe@gmail.com</p>
        <p class="fw-bold mb-1">0998988</p>
      </td>

      <td>
        <p class="fw-bold mb-1">admin</p>
      </td>

      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
          Edit
        </button>
      </td>
    </tr>
    
  </tbody>
</table>