<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Lista de usuarios</h1>
    <a [routerLink]="['/']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
  </div>

  <p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table below.
  </p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Identification</th>
              <th>Full Name</th>
              <th>Birthdate</th>
              <th>Number and Email</th>
              <th>Rol</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let user of users">
              <td class="align-middle">{{user?.identificationNumber}}</td>
              <td>
                <p class="fw-bold mb-1">{{user?.firstName}}</p>
                <p class="text-muted mb-0">{{user?.lastName}}</p>
              </td>
              <td class="align-middle">{{user?.birthdate}}</td>
              <td>
                <p class="fw-bold mb-1"> 
                  <a [href]=" 'mailto:' + user?.emailAddress"> {{user?.emailAddress}}</a>
                </p>
                
                <p class="text-muted mb-0">
                  <a [href]="'https://api.whatsapp.com/send?phone=' + user?.phoneNumber" target="_blank">
                    {{user?.phoneNumber}}
                  </a>
                </p>
              </td>

              <td class="align-middle">
                <ul>
                  <li *ngFor="let rol of user.rol">{{rol.description}}</li>
                </ul>
              </td>

              <td class="align-middle">
                <button class="btn btn-sm" [routerLink]="['/user', user.userId]">
                  <i class="fas fa-fw fa-eye"></i><br>
                </button>
                <button class="btn btn-sm" [routerLink]="['/updateUser', user.userId]">
                  <i class="fa-solid fa-pen-to-square"></i><br>
                </button>
                <button class="btn btn-sm" (click)="deleteUser(user.userId)">
                  <i class="fas fa-fw fa-trash"></i><br> <!-- fas fa-fw fa-trash fa-bounce-->
                </button>
                
              </td>
            </tr>
          </tbody>

        </table>
      </div>

    

    </div>
  </div>
</div>