<div class="container mt-3">
  <div class="card shadow p-4 mb-4">

    <div *ngFor="let user of users" class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">{{user?.firstName}} {{user?.lastName}}</h1>

      <button [routerLink]="['/userList']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-arrow-right fa-sm text-white-50"></i>  
      </button>
      
    </div>
    <hr>
    <p>Lorem ipsum dolor sit, ndus recusandae suscipit.</p>

  </div>

</div>

